

<div class="container-fluid" *ngIf="_branch.branch.$ | async; let branch">
  <h2>Settings</h2>

  <form #branch_form="ngForm" ngNativeValidate>

    <section class="pb-2">
      <button type="button" md-raised-button (click)="save(branch)">Save</button>
    </section>
    <br />

    <section class="pb-2">
      <md-card>
        <md-card-content>
          <md-form-field>
            <input mdInput [(ngModel)]="branch.code" name="code" placeholder="Code" />
          </md-form-field>

          <md-form-field>
            <input mdInput [(ngModel)]="branch.name" name="name" placeholder="Name" />
          </md-form-field>
        </md-card-content>
        <br />

        <md-form-field>
          <input mdInput [(ngModel)]="branch.open_hours.open" name="open_hours.open"  placeholder="Opens format: hh:mm" />
        </md-form-field>
        <md-form-field>
          <input mdInput [(ngModel)]="branch.open_hours.close" name="open_hours.close" placeholder="Closes format: hh:mm" />
        </md-form-field>
      </md-card>
    </section>
    <br />

    <section class="pb-2">
      <md-card>
        <md-card-header>
          <h3>Positions: </h3>
        </md-card-header>
        <md-card-content>
          <app-input-position [(positions)]="branch.positions"></app-input-position>
        </md-card-content>
      </md-card>
    </section>

    <br />

    <section class="pb-2">
      <md-card>
        <md-card-content>
          <app-input-shift [(shifts)]="branch.shifts"></app-input-shift>
        </md-card-content>
      </md-card>
    </section>
  </form>
</div>
